DB_USER=postgres
DB_PASSWORD=yourpostgrespassword
DB_NAME=url_shortener_db
DB_PORT=5432
ENV=local # Set to 'production' in production environment
DB_HOST=localhost
DB_SSLMODE=disable # disable SSL for local development, enable in production with appropriate settings
PORT=8080
BASE_URL=http://localhost:8080
FEISTEL_SEED=12345678 # Use a secure, random seed in production for better security. It MUST never change once set, as it will break existing shortened URLs if modified.
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=yourredispassword
REDIS_DB=0
REDIS_MAX_MEMORY=256mb
REDIS_MAX_MEMORY_POLICY=allkeys-lru
REDIS_POOL_SIZE=100
REDIS_MIN_IDLE_CONNS=10
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s