DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=url_shortener_db
DB_PORT=5432
ENV=local # Set to 'production' in production environment
DB_HOST=localhost
DB_SSLMODE=disable # disable SSL for local development, enable in production with appropriate settings
PORT=8080
BASE_URL=http://localhost:8080
FEISTEL_SEED=12345678 # Use a secure, random seed in production for better security. It MUST never change once set, as it will break existing shortened URLs if modified.